<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pb.mapper.ItemMapper">
    
    <resultMap type="Item" id="ItemResult">
        <result property="itemid"    column="ItemId"    />
        <result property="itemname"    column="ItemName"    />
        <result property="createtime"    column="CreateTime"    />
        <result property="creator"    column="Creator"    />
        <result property="isused"    column="IsUsed"    />
    </resultMap>

    <sql id="selectItemVo">
        select ItemId, ItemName, CreateTime, Creator, IsUsed from item
    </sql>

    <select id="selectItemList" parameterType="Item" resultMap="ItemResult">
        <include refid="selectItemVo"/>
        <where>  
            <if test="itemid != null "> and ItemId = #{itemid}</if>
            <if test="itemname != null  and itemname != ''"> and ItemName like concat('%', #{itemname}, '%')</if>
            <if test="createtime != null "> and CreateTime = #{createtime}</if>
            <if test="creator != null  and creator != ''"> and Creator = #{creator}</if>
            <if test="isused != null and isused != '' "> and IsUsed = #{isused}</if>
        </where>
    </select>
    
    <select id="selectItemById" parameterType="Long" resultMap="ItemResult">
        <include refid="selectItemVo"/>
        where ItemId = #{itemid}
    </select>
        
    <insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="itemid">
        insert into item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemname != null and itemname != ''">ItemName,</if>
            <if test="createtime != null">CreateTime,</if>
            <if test="creator != null and creator != ''">Creator,</if>
            <if test="isused != null">IsUsed,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemname != null and itemname != ''">#{itemname},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="isused != null">#{isused},</if>
         </trim>
    </insert>

    <update id="updateItem" parameterType="Item">
        update item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemname != null and itemname != ''">ItemName = #{itemname},</if>
            <if test="createtime != null">CreateTime = #{createtime},</if>
            <if test="creator != null and creator != ''">Creator = #{creator},</if>
            <if test="isused != null">IsUsed = #{isused},</if>
        </trim>
        where ItemId = #{itemid}
    </update>

    <delete id="deleteItemById" parameterType="Long">
        delete from item where ItemId = #{itemid}
    </delete>

    <delete id="deleteItemByIds" parameterType="String">
        delete from item where ItemId in 
        <foreach item="itemid" collection="array" open="(" separator="," close=")">
            #{itemid}
        </foreach>
    </delete>
    
</mapper>